<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }

        /* use black bg if user has dark mode set */
        @media (prefers-color-scheme: dark) {
            body {
                background-color: black;
            }
        }

    </style>
</head>
<body>
<div class="imgbox">
    <img class="center-fit" src="{{ img_src }}">
</div>
</body>
</html>
